<div class="grid">
  <div>
    <h2>Baby's datails</h2>
    <p>Name:baby's Name</p>
    <p>Mothers name</p>
    <p>Fathers Name</p>
    <p>Date Of Birth</p>
    <p>Mobile No</p>
    <p>Address</p>
    </div>

<table>
    <tr>
      <th>Time period </th>
      <th>Vaccine Name</th>
      <th>Planed Date</th>
      <th>Actual Date</th>
      <th>Vaccine Name</th>
    </tr>
    <tr>
        <td>Birth</td>
        <td>BCG,Hep,B1,OPV</td>
        <td>dd/mm/yy</td>
        <td>xx/xx/xx</td>
        <td>xx/xx/xx</td>

      </tr>
      <tr>
        <td>6 weeks</td>
        <td>DTwp/DTap1,Hib-1,IPV-1/Hep B2/PCV1/Rota-1</td>
        <td>dd/mm/yy</td>
        <td>xx/xx/xx</td>
        <td>xx/xx/xx</td>
      </tr>
      <tr>
        <td>10 week</td>
        <td>DTwp/DTap2,Hib-2,IPV-2/Hep B3/PCV2/Rota-2</td>
        <td>dd/mm/yy</td>
        <td>xx/xx/xx</td>
        <td>xx/xx/xx</td>

      </tr>
      <tr>
        <td>14 weeks</td>
        <td>DTwp/DTap3,Hib-3,IPV-3/Hep B3/PCV3/Rota-3</td>
        <td>dd/mm/yy</td>
        <td>xx/xx/xx</td>
        <td>xx/xx/xx</td>
      </tr>
      <tr>
        <td>6 months</td>
        <td>Influenza-1</td>
        <td>dd/mm/yy</td>
        <td>xx/xx/xx</td>
        <td>xx/xx/xx</td>
      </tr>
      <tr>
        <td>7 Months</td>
        <td>Influenza-2</td>
        <td>dd/mm/yy</td>
        <td>xx/xx/xx</td>
        <td>xx/xx/xx</td>

      </tr>
      <tr>
        <td>6-9 Moanths</td>
        <td>typhoid conjugate vaccine/td>
        <td>dd/mm/yy</td>
        <td>xx/xx/xx</td>
        <td>xx/xx/xx</td>
      </tr>
      <tr>
      <td>9 Months</td>
      <td>MMR 1(Mumps,measles,Rubella)</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>

    </tr>
    <tr>
      <td>12 Months</td>
      <td>Hepataties</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>
    </tr>
    <tr>
      <td>12-15 months</td>
      <td>PCV Booster</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>
    </tr>
    <tr>
      <td>15 Months</td>
      <td>MMR2 varicella</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>

    </tr>
    <tr>
      <td>16-18 Months</td>
      <td>DTwp/DTap,Hib/IPV</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>
    </tr>
    <tr>
      <td>18-19 Months</td>
      <td>Hepataties A.2**,vbaricella 2</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>
    </tr>
    <tr>
      <td>4-6 Years</td>
      <td>DTwp/DTap,IPV,MMR3</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>
    </tr>
    <tr>
      <td>9-15 Yeras(girls)</td>
      <td>HPV(2dose)</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>

    </tr>
    <tr>
      <td>10-12 Years</td>
      <td>Tdap/Td</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>
    </tr>
    <tr>
      <td>2nd,3rd,4th,5th Years</td>
      <td>Annual Influenza vaccine</td>
      <td>dd/mm/yy</td>
      <td>xx/xx/xx</td>
      <td>xx/xx/xx</td>
    </tr>

    
      

     
    </table>
  
    