<div class="grid">
  <div>
    <h2></h2>
    <p>Mother Name:xxxx xxxx</p>
    <p>Mobile Number:xxx xxx xxx x</p>
    <p>Addhar Card Number:xxxx xxxx xxxx</p>
    <p>Address:xxxx xxxx xxx xx xx</p>
  </div>

  <table>
    <tr>
      <th>Today's Date</th>
      <th>0wk1d</th>
      <th>Due Date</th>
      <th>xx/xx/xxxx</th>
    </tr>
    <tr>
      <td>Date of Fertilization (2w1d):</td>
      <td>12/22/22</td>
      <td>Anatomy Scan (19-20 weeks):</td>
      <td>04/19/23 - 04/26/23</td>
    </tr>
    <tr>
      <td>Fetal heart beat should be seen (7w0d):</td>
      <td>xx/xx/xxx</td>
      <td>Anatomy Scan (19-20 weeks):</td>
      <td>xx/xx/xxxx - xx/xx/xxxx</td>
    </tr>

    <tr>
      <td>Ultrasound Screen (11w+2 - 13w+6):</td>
      <td>xx/xx/xxx</td>
      <td>Fetal movements felt (18-20 weeks):</td>
      <td>xx/xx/xxxx - xx/xx/xxxx</td>
    </tr>
    <tr>
      <td>Triple Screen (15-18 weeks):</td>
      <td>xx/xx/xxx</td>
      <td>Fetus becomes viable (24w0d):</td>
      <td>xx/xx/xxxx - xx/xx/xxxx</td>
    </tr>
    <tr>
      <td>Amniocentesis (17-18 weeks):</td>
      <td>xx/xx/xxx</td>
      <td>Glucose Screen (24-28 weeks):</td>
      <td>xx/xx/xxxx - xx/xx/xxxx</td>
    </tr>
  </table>
</div>
