<table>
  <tr>
    <th>sr.No</th>
    <th>Patient Name</th>
    <th>Mobile No</th>
    <th>Adhar No</th>
    <th>Conception Date</th>
    <th>Due Date</th>
    <th>View</th>
  </tr>
  <tr>
    <td>1.</td>
    <td>xxxx</td>
    <td>xxxx xxxx xx</td>
    <td>xxxx xxxx xxxx</td>
    <td>xx xx xxxx</td>
    <td>xx xx xxxx</td>
    <td></td>
  </tr>
  <tr>
    <td>2.</td>
    <td>xxxx</td>
    <td>xxxx xxxx xx</td>
    <td>xxxx xxxx xxxx</td>
    <td>xx xx xxxx</td>
    <td>xx xx xxxx</td>
    <td></td>
  </tr>
  <tr>
    <td>3.</td>
    <td>xxxx</td>
    <td>xxxx xxxx xx</td>
    <td>xxxx xxxx xxxx</td>
    <td>xx xx xxxx</td>
    <td>xx xx xxxx</td>
    <td></td>
  </tr>
  <tr>
    <td>4.</td>
    <td>xxxx</td>
    <td>xxxx xxxx xx</td>
    <td>xxxx xxxx xxxx</td>
    <td>xx xx xxxx</td>
    <td>xx xx xxxx</td>
    <td></td>
  </tr>
</table>
