<div>
    <div class="patient-registration">
      <!-- <button class="patient-registration-btn">Patient Registration</button> -->
      <button mat-raised-button (click)="openDialog(babyRegiststration)" color="primary">Baby Registration</button>
  
    </div>
  <table>
    
    <tr>
      <th>sr.No</th>
      <th>Babys Name</th>
      <th>Mobile No</th>
      <th>Fathers Name</th>
      <th>Mothers Name</th>
      <th> Date of Birth</th>
      <!-- <th>View</th> -->
    </tr>
    <tr>
      <td>1.</td>
      <td>xxxx</td>
      <td>xxxx xxxx xx</td>
      <td>xxxx xxxx xxxx</td>
      <td>xx xx xxxx</td>
      <td>xx xx xxxx</td>
      <td></td>
    </tr>
    <tr>
      <td>2.</td>
      <td>xxxx</td>
      <td>xxxx xxxx xx</td>
      <td>xxxx xxxx xxxx</td>
      <td>xx xx xxxx</td>
      <td>xx xx xxxx</td>
      <td></td>
    </tr>
    <tr>
      <td>3.</td>
      <td>xxxx</td>
      <td>xxxx xxxx xx</td>
      <td>xxxx xxxx xxxx</td>
      <td>xx xx xxxx</td>
      <td>xx xx xxxx</td>
      <td></td>
    </tr>
    <tr>
      <td>4.</td>
      <td>xxxx</td>
      <td>xxxx xxxx xx</td>
      <td>xxxx xxxx xxxx</td>
      <td>xx xx xxxx</td>
      <td>xx xx xxxx</td>
      <td></td>
    </tr>
  
  </table>
  </div>
  <ng-template #babyRegiststration>
    <mat-card>
      <!-- <div class="body">
        <div class="container"> -->
          <div class="title"> New Birth Registration</div>
          <div class="content">
            <form action="#">
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Mothers first Name</span>
                  <input type="text" (mouseout)="dddd($event)" placeholder="Enter Mothers first name" required>
                </div>
                <div class="input-box">
                  <span class="details">last name</span>
                  <input type="text" placeholder="Enter last name" required>
                </div>
      
                <div class="input-box">
                  <span class="details">Fathers first name</span>
                  <input type="text" placeholder="Enter Fathers first name" required />
                </div>
      
      
                <div class="input-box">
                  <span class="details"> last name</span>
                  <input type="text" placeholder="Enter  last name" required />
                </div>
      
      
      
                <div class="input-box">
                  <span class="details">Babys name</span>
                  <input type="text" placeholder="Baby's name" required />
                </div>
      
      
                <div class="input-box">
                  <span class="details"> Date of Birth  </span>
                  <input type="date" placeholder="enter Date of  Birth" required />
                </div>
                
                <div class="input-box">
                  <span class="details">Baby's  weight</span>
                  <input type="number" placeholder="Baby's Birth weight" required>
    
                </div>
                <div class="input-box">
                  <span class="details">Delivery Details</span>
                  <input type="text" placeholder="Delivery Details" required>
                 </div>
    
                  <div class="input-box">
                  <span class="details">Mobile number</span>
                  <input type="number" placeholder="Enter Mobile Number" required>
                </div>
      
                <div class="input-box">
                  <span class="details">Email<Address></Address></span>
                  <input type="text" placeholder="Enter Email Address" required>
                </div>
      
      
      
                <div class="input-box">
                  <span class="details">Address detail</span>
                  <input type="text" placeholder="Address details" required>
                </div>
      
                <div class="input-box">
                  <span class="details">   Medical Observations</span>
                  <input type="text" placeholder="Medical Observations" required>
                </div>
      
      
      
              </div>
      
              <div class="button">
                <input type="button" value="submit">
               
              </div>
              <div class="button dashboard-button">
                <input type="button" value="dashboard">
    
              </div>
            </form>
          </div>
        <!-- </div>
      </div> -->
    </mat-card>
    </ng-template>
    
